<h1>ECOMMERCE</h1>

{{>user_logged}}
<div class="btn_logout">
    <button class="btn btn-primary" onclick="location.href='/logout'">logout</button>
</div>

{{>carrito}}

{{>productos}}


<style>
    .btn_logout{
        margin-right: 50px;
        text-align: right;
    }    
</style>
