<div class="mensajes">
    <h1>Centro de Mensajes</h1>
    <form action="/mensajes" method="post">
        <input type="text" name="nombre" id="" placeholder="nombre">
        <input type="text" name="mensaje" placeholder="mensaje">
        <button type="submit">enviar</button>
    </form>

    {{#each mensajes}}
        <p>{{this.nombre}}</p>
        <p>{{this.mensaje}}</p>
    {{/each}}
</div>