<div class="user_container">
    <div class="user">
        <p>Hola {{nombre}}</p>
        <img width="50" src="{{avatar}}" alt="not found">
        <button class="btn btn-info" onclick="location.href='/logout'">out!</button>
    </div>
</div>

<style>
    .user_container{
        display: flex;
        justify-content: right;
    }
    h3{
        font-style: italic;
    }
    .user{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
        background-color: rgb(180, 221, 240);
        padding: 10px;
    }
    .btn_logout {
        margin-top: 10px;
        padding-bottom: 15px;
    }
</style>